.Nunito {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

@tailwind base;

.textButton {
  @apply bg-azul-ancora py-6 px-3 rounded-full text-white uppercase hover:bg-vermelho-ancora ease-in duration-300;
}

.containerResponsive {
  @apply container p-8;
}

@tailwind components;
@tailwind utilities;
