.Nunito {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
.textInativeButton {
  @apply Nunito text-azul-ancora border-solid border-2 border-azul-ancora mt-3 px-2 py-2 rounded-md;
}
.textActiveButton {
  @apply bg-azul-ancora text-white Nunito mt-3 px-2 py-2 rounded-md border-solid border-2 border-azul-ancora;
}

@tailwind base;

.Button {
  @apply bg-azul-ancora py-3 px-2 rounded-2xl uppercase hover:bg-vermelho-ancora ease-in duration-300;
}
.textButton {
  @apply Nunito text-white uppercase text-xl;
}

.containerResponsive {
  @apply container p-8;
}

@tailwind components;
@tailwind utilities;
